<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">  <!--these tags set what the user will see-->
        <!--shamelessly lifted the boostrap links directly from Tim-->
        <link 
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
    />
    <!--Jinja usually puts Python in percent signs or other symbols-->
    <title>{% block title %}Home{% endblock %}</title> <!--creating a template that can be overridden in a child template (through inheritance)-->
    
    </head>
    <body>
    <!--he said to take this code from his website *again*-->
    <!--this is the javascript related to bootstrap-->
    <!--two curly bracket sets usually means you're going to be trping some python expression--> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <!--these are all bootastrap classes-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="login" href="/login">Login</a>
                <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                <a class="nav-item nav-link" id="home" href="/">Home</a>

            </div>
            </div> <!--no idea what is going with this ...-->
        </nav>
        <!--placing this here in the base template means that it will display in any of our pages.-->
        {% with messages = get_flashed_messages(with_categories=true)%} <!--Jinja uses lower case for booleans-->
            {% if messages %}
                {% for category, message in messages%} <!--using a for loop to go through the proper message to display, taking in the category, it seeems-->
                    {% if category == "error"%}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert"> <!--alert danger will display this in red (since it si a failure message)-->
                        {{ message }}  <!--thsi enables you to go through the messages (possibly)-->
                        <button type="button" class="close" data-dismiss="alert"> <!--no explanation here-->
                            <span aria-hidden="true">&times;</span>   <!--thsi will dispaly as a fancy x in the button-->
                        </button>
                    </div>
                    {% else %} <!--if it's not an error, then it's success-->
                    <div class="alert alert-success alter-dismissable fade show" role="alert"> <!--alert success will display this in green-->
                        {{ message }}  <!--thsi enables you to go through the messages (possibly)-->
                        <button type="button" class="close" data-dismiss="alert"> <!--no explanation here-->
                            <span aria-hidden="true">&times;</span>   <!--thsi will dispaly as a fancy x in the button-->
                        </button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}                                                      

    <div class="container"> <!--do this to introduce some padding-->
        {%block content%} <!--we put this in home.html, enabling us to drop content there as well-->
        {% endblock %}
    </div>
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
    ></script>
    </body>
</html>